.lineup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.concert {
  width: 30%;
  margin: 2%;
  overflow: hidden;
}

.concert .picture {
  display: block;

  width: 100%;
  height: 312px;
}

.concert .picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}