@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600&family=Teko:wght@300;400;500;600;700&display=swap');
:root {
  --color-orange: rgb(245, 135, 50);
  --color-pink: rgb(210, 0, 130);
  --color-green: rgb(90, 185, 70);
  --color-blue: rgb(0, 165, 217);
  --color-red: rgb(237, 0, 52);
  --gutter: 1%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;

  height: 100vh;
}

.row {
  padding: 1%;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.courses .course {
  width: calc(50% - var(--gutter) * 2);
  margin: var(--gutter);
}

.computer_programming {
  background: var(--color-pink);
}

.creative_design_development {
  background: var(--color-orange);
}

.business_communication {
  background: var(--color-blue);
}

.applied_information_technology {
  background: var(--color-green);
}

.workplace_learning {
  background: var(--color-red);
}