* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  width: 8px;
  height: 8px;
  border-radius: 0%;
  background: #ff0000;

  text-indent: -999em;
  margin: 2px;
  position: relative;
  transition: all 268ms ease-in-out 0s;
}
.box:nth-of-type(2n) {
  background: #ff00ff;
}
.box:nth-of-type(3n) {
  background: #0000ff;
}
.box:hover {
  background: #000000;
  transform: rotate(30deg) scale(2);
  cursor: pointer;
}